# Test results
test-results/
playwright-report/
playwright/.cache/

# Environment variables
.env
.env.local

# Node modules
node_modules/

# Screenshots
screenshots/
*.png
*.jpeg

# Traces
trace.zip
traces/

# Logs
*.log
